@charset "utf-8";

/* body */
/* トップページ向け（ログイン前）*/
.image img{
    width: 100%;
    height: auto;
}

div.messages {
    width: 100%;
}

div.messages h1 {
    text-align: center;
    color: red;
}

div.messages p {
    color: black;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* トップページ向け（ログイン後）*/
.image1 img{
    width: 40%;
    height: 200px;
    float: left;
    margin-bottom: 100px;
}

.content1 {
    width: 50%;
    height: 200px;
    float: right;
    margin-bottom: 100px;
}

.image2 img{
    width: 40%;
    height: 200px;
    float: left;
    margin-bottom: 100px;
}

.content2 {
    width: 50%;
    height: 200px;
    float: right;
    margin-bottom: 100px;
}

.design-title {
    border-bottom: 1px solid black;
}

/* デザイン詳細ページ向け */

.design-1::after {
  content: '';
  display: block;
  clear: both;
}
.image-1 img{
    width: 40%;
    height: 230px;
    float: left;
    margin-bottom: 50px;
}

.image-1-1 img{
    width: 30%;
    height: 200px;
    float: left;
    margin-bottom: 50px;
    margin-right: 48px;
}

.image-1-2 img{
    width: 30%;
    height: 200px;
    float: left;
    margin-bottom: 50px;
}

.image-1-3 img{
    width: 30%;
    height: 200px;
    float: right;
    margin-bottom: 50px;
}

.design-1 h4{
    float: right;
    width: 55%;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.table-1 {
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 55%;
    height: 200px;
    float: right;
    margin-bottom: 50px;
    margin-top: 5px;
}

table.table-1 th {
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #eee;
}

table.table-1 td {
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.point1 {
  width: 50%;
  height: auto;
  float: left;
  margin-bottom: 50px;
}
.comment1 {
  width: 50%;
  height: auto;
  float: right;
  margin-bottom: 50px;  
}

/* デザイン手順ページ向け */

.process-1::after {
  content: '';
  display: block;
  clear: both;
}

.process-1 h4{
    float: right;
    width: 55%;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.p1-image1 img{
    width: 25%;
    height: 150px;
    float: left;
    margin-bottom: 30px;
    margin-right: 50px;
}

.p1-content1 {
  width: 50%;
  height: auto;
  float: left;
  margin-bottom: 30px;  
}

.p1-image2 img{
    width: 25%;
    height: 150px;
    float: left;
    margin-bottom: 30px;
    margin-right: 50px;
}

.p1-content2 {
  width: 50%;
  height: auto;
  float: left;
  margin-bottom: 30px;  
}
