@charset "utf-8";

/* body */
/* トップページ向け（ログイン前）*/

.image img{
    width: 100%;
    height: auto;
}

div.messages {
    width: 100%;
}

div.messages h1 {
    text-align: center;
    color: red;
}

div.messages p {
    color: black;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* トップページ向け（ログイン後）*/
.design-title {
    border-bottom: 1px solid black;
}
.h1-design{
    margin-top: -10px;
    margin-bottom: 50px;
}

.image img{
    height: 200px;
    margin-bottom: 30px;
/*  width: 100%; 
    height: auto;
    float: left;
    margin-bottom: 30px;
*/
}

.content {
    height: 200px;
    margin-bottom: 30px;
/*
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: 30px;
*/
}
/*
.image2 img{
    height: 200px;
    margin-bottom: 30px;
    width: 40%;
    height: 200px;
    float: left;
    margin-bottom: 30px;
}

.content2 {
    height: 200px;
    margin-bottom: 30px;
    width: 50%;
    height: 200px;
    float: right;
    margin-bottom: 30px;
}
*/

/* デザイン詳細ページ向け */

.design-detail::after {
  content: '';
  display: block;
  clear: both;
}

/*
.image-1 img{
    width: 40%;
    height: 230px;
    float: left;
    margin-bottom: 50px;
}

.image-1-1 img{
    width: 30%;
    height: 200px;
    float: left;
    margin-bottom: 50px;
    margin-right: 48px;
}

.image-1-2 img{
    width: 30%;
    height: 200px;
    float: left;
    margin-bottom: 50px;
}

.image-1-3 img{
    width: 30%;
    height: 200px;
    float: right;
    margin-bottom: 50px;
}
*/

.design-detail h4{
    width: 100%;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.table-detail {
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
    height: 200px;
    float: right;
    margin-bottom: 50px;
    margin-top: 5px;
}

table.table-detail th {
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #eee;
}

table.table-detail td {
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.point1 {
  height: auto;
}

.comment1 {
  height: auto;
}

.design-detail{
    margin-bottom: 30px;      
}

.flex{
    display:flex;
    margin-bottom: 50px;  
}

.ref-image::after {
  content: '';
  display: block;
  clear: both;
}

/* デザイン手順ページ向け */

.process::after {
  content: '';
  display: block;
  clear: both;
}

.post::after{
  content: '';
  display: block;
  clear: both;
}

.post{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*
.process-1 h4{
    float: right;
    width: 55%;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.p1-image1 img{
    width: 25%;
    height: 150px;
    float: left;
    margin-bottom: 30px;
    margin-right: 50px;
}

.p1-content1 {
  width: 50%;
  height: auto;
  margin-bottom: 30px;  
}

.p1-image2 img{
    width: 25%;
    height: 150px;
    float: left;
    margin-bottom: 30px;
    margin-right: 50px;
}

.p1-content2 {
  width: 50%;
  height: auto;
  float: left;
  margin-bottom: 30px;  
}
*/